.pokemon{
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 2rem;
}

.pokemon:hover{
    background-color: rgb(255, 255, 57);
}


.pokemon-name{
    margin-bottom: 15px;
    font-weight: 600;
    color: black;
}

.pokemon-img{
    width: 15rem;
    height: 6rem;
}